<div class="card" style="width: 18rem;">
  <% if product.presentation.attached? %>
    <%= image_tag product.presentation, class: 'card-img-top' %>
  <% else %>
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="No Image" preserveAspectRatio="xMidYMid slice" focusable="false">
      <rect width="100%" height="100%" fill="#868e96"></rect>
      <text x="35%" y="50%" fill="#dee2e6" dy=".3em"><%= t('market.products.product.no_img') %></text>
    </svg>
  <% end %>
  <div class="card-body">
    <%= link_to product do %>
      <h5 class="card-title">
        <%= product.title %>
      </h5>
    <% end %>
    <p class="card-text"><%= product.description %></p>

    <%= content_tag :p, add_currency_symbol(product.price), class: "border-primary card" %>

    <%= form_with url: product_cart_add_path(product) do |f| %>
      <%= f.hidden_field 'quantity', value: 1 %>
      <%= f.submit t('market.products.product.add_to_cart'), class: "btn btn-primary card-text" %>
    <% end %>
  </div>
</div>
