<div class="card" style="width: 18rem;">
  <% if product.presentation.attached? %>
    <%= image_tag product.presentation, class: 'card-img-top' %>
  <% else %>
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="No Image" preserveAspectRatio="xMidYMid slice" focusable="false">
      <rect width="100%" height="100%" fill="#868e96"></rect>
      <text x="35%" y="50%" fill="#dee2e6" dy=".3em"><%= t('market.products.no_image') %></text>
    </svg>
  <% end %>
  <div class="card-body">
    <%= link_to product do %>
      <h5 class="card-title">
        <%= product.title %>
      </h5>
    <% end %>
    <p class="card-text"><%= product.description %></p>
    <p class="border-primary card"><%= currency_with_symbol(product.price) %></p>
    <% if current_market_user.product_in_cart? product %>
      <%= render partial: 'market/carts/remove', locals: {product: product} %>
    <% else %>
      <%= render partial: 'market/carts/add', locals: {product: product} %>
    <% end %>
  </div>
</div>
