<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <% if @product.presentation.attached? %>
        <%= image_tag @product.presentation ,class: 'img-fluid rounded-start' %>
      <% else %>
        <svg class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="No Image" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#868e96"></rect>
          <text x="35%" y="50%" fill="#dee2e6" dy=".3em"><%= t('market.products.product.no_image') %></text>
        </svg>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title"><%= @product.title %></h1>
        <div class="card-text" style="padding: 5px 0 5px 0;"><%= @product.body %></div>
        <div class="card-text">
          <div class="container text-center">
            <div class="row">
              <div class="col">
                <span class="badge text-bg-success" style="font-size:20px; margin: 5px">Price: <%= add_currency_symbol(@product.price) %></span>
              </div>
              <div class="col">
                <%= form_with url: product_cart_add_path(@product), html: { onsubmit: 'return false;', id: "addToCart-#{@product.id}", class: "container text-center" } do |f| %>
                  <div class="row">
                    <%= f.number_field 'quantity', value: 1, min: "1", max: true, class: 'form-control col' %>
                    <%= f.submit "Buy", class: "btn btn-primary col", style: "margin: 0 0 0 10px", onclick: "addToCart('addToCart-#{@product.id}')" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
