<table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_products.each do |cart_product| %>
      <tr>
        <th scope="row">
          <%= link_to cart_product.product.title, cart_product.product %>
        </th>
        <td>
          <%= number_to_currency_uah(cart_product.product.price) %>
        </td>
        <td>
          <%= cart_product.quantity %>
        </td>
        <td>
          <%= number_to_currency_uah(cart_product.total_price) %>
        </td>
        <td>
          <%= button_to "Remove", product_remove_from_cart_path(cart_product.product) , method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Make an order', checkout_index_path, class: 'btn btn-primary' %>
