<table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <th><%= order.product.title %></th>
        <td><%= order.product.price %></td>
        <td><%= order.quantity %></td>
        <td><%= order.total_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= @orders.sum(&:total_price) %>
</div>