<table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t('panel.orders.table.name') %></th>
      <th scope="col"><%= t('panel.orders.table.price') %></th>
      <th scope="col"><%= t('panel.orders.table.quantity') %></th>
      <th scope="col"><%= t('panel.orders.table.total') %></th>
    </tr>
  </thead>
  <tbody>
    <% orders.each do |order| %>
    <tr>
      <th scope="row"><%= order.id %></th>
      <td><%= link_to order.product.title, panel_product_path(order.product) %></td>
      <td><%= add_currency_symbol order.current_price %></td>
      <td><%= order.quantity %></td>
      <td><%= add_currency_symbol order.total_price %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
       <td></td>
      <td></td>
      <td></td>
      <td><%= orders.sum(&:quantity) %></td>
      <td><%= add_currency_symbol orders.sum(&:total_price) %></td>
    </tr>
  </tfoot>
</table>