<table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t('admin.customers.table.first_name') %></th>
      <th scope="col"><%= t('admin.customers.table.address') %></th>
      <th scope="col"><%= t('admin.customers.table.phone') %></th>
      <th scope="col"><%= t('admin.customers.table.comment') %></th>
      <th scope="col"><%= t('admin.customers.table.dont_call') %></th>
      <th scope="col"><%= t('admin.customers.table.payment_method') %></th>
      <th scope="col"><%= t('admin.customers.table.payment_status') %></th>
      <th scope="col"><%= t('admin.customers.table.update') %></th>
      <th scope="col"><%= t('admin.customers.table.control') %></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <th scope="row"><%= customer.id %></th>
        <td><%= customer.first_name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.comment %></td>
        <td><%= convert_boolean customer.dont_call %></td>
        <td><%= customer.payment_method %></td>
        <td><%= convert_boolean customer.payment_status %></td>
        <td>
          <%= form_with model: customer, url: admin_customer_path(customer), method: :patch do |f| %>
            <%= f.select :status, customer_statuses_keys, class: 'form-select' %>
            <%= f.submit 'Update', class: 'btn btn-primary' %>
          <% end %>
        </td>
        <td>
          <%= render partial: 'admin/shared/control_panel', locals: {
            name_model: Customer, 
            show_model_path:admin_customer_path(customer), 
            edit_model_path: edit_admin_customer_path(customer), 
            delete_model_path: admin_customer_path(customer) } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
