<table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t('admin.orders.table.name') %></th>
      <th scope="col"><%= t('admin.orders.table.price') %></th>
      <th scope="col"><%= t('admin.orders.table.quantity') %></th>
      <th scope="col"><%= t('admin.orders.table.total') %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <th scope="row"><%= order.id %></th>
        <td><%= link_to order.product.title, admin_product_path(order.product) %></td>
        <td><%= currency_with_symbol order.current_price %></td>
        <td><%= order.quantity %></td>
        <td><%= currency_with_symbol order.total_price %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @orders.sum(&:quantity) %></td>
      <td><%= currency_with_symbol @orders.sum(&:total_price) %></td>
    </tr>
  </tfoot>
</table>
