<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= display_meta_tags(site: "Admin", reverse: true) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "admin" %>
  </head>
  <body>
    <div class="container text-center">
      <%= render 'layouts/admin/header' %>
      <p style="color: green"><%= notice %></p>
      <p style="color: red"><%= alert %></p>
      <%= yield %>
      <%= render 'layouts/admin/footer' %>
    </div>
    <%= javascript_include_tag "admin" %>
  </body>
</html>
