<%= form_with url: customers_path, model: customer, html: { class: 'needs-validation' } do |f| %>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= f.label t('market.customers.form.first_name'), class: "form-label" %>
          <%= f.text_field :first_name, class: 'form-control', required: true %>
        </div>
        <div class="mb-3">
          <%= f.label t('market.customers.form.address'), class: "form-label" %>
          <%= f.text_field :address, class: 'form-control', required: true %>
        </div>
        <div class="mb-3">
          <%= f.label t('market.customers.form.phone'), class: "form-label" %>
          <%= f.telephone_field :phone, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <%= f.label t('market.customers.form.comment'), class: "form-label" %>
          <%= f.text_area :comment, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= f.label t('market.customers.form.dont_call'), class: "form-check-label" %>
          <%= f.check_box :dont_call, class: 'form-check-input' %>
        </div>
        <div class="form-check">
          <%= f.label t('market.customers.form.pay.cash'), class: "form-check-label" %>
          <%= f.radio_button :payment_method, :cash, class: 'form-check-input' %>
        </div>
        <div class="form-check">
          <%= f.label t('market.customers.form.pay.service'), class: "form-check-label" %>
          <%= f.radio_button :payment_method, :service, class: 'form-check-input' %>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <%= f.submit t('market.customers.form.confirm'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>