<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= t('market.customers.table.uuid') %></th>
      <th scope="col"><%= t('market.customers.table.total_price') %></th>
      <th scope="col"><%= t('market.customers.table.total_quantity') %></th>
      <th scope="col"><%= t('market.customers.table.status') %></th>
      <th scope="col"><%= t('market.customers.table.paid.title') %></th>
      <th scope="col"><%= t('market.customers.table.date') %></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <th><%= link_to customer.uuid, customer_path(id:customer.uuid) %></th>
        <td><%= currency_with_symbol customer.orders_total_price %></td>
        <td><%= customer.orders_total_quantity %></td>
        <td><%= t("market.customers.table.paid.#{customer.status}") %></td>
        <td><%= convert_boolean customer.payment_status %></td>
        <td><%= customer.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
