<div>
  <h1>Hello, <%= @customer.first_name %>!</h1>
  <h2>Your order has been sussesfully created.</h2>
  <h2>Service: <%= @customer.payment_method %></h2>
  <h2>Status: <%= @customer.status %></h2>
</div>
<% if @html_form_pay %>
  <div>
    <h2>Payment:</h2>
    <%= raw(@html_form_pay) %>
  </div>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Product name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <% @customer.orders.each do |order| %>
      <tr>
        <th><%= order.product.title %></th>
        <td><%= number_to_currency_uah order.product.price %></td>
        <td><%= order.quantity %></td>
        <td><%= number_to_currency_uah order.total_price %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td><%= @customer.orders_total_quantity %></td>
      <td><%= number_to_currency_uah(@customer.orders_total_price) %></td>
      <td></td>
    </tr>
  </tfoot>
</table>
