<div>
  <h1><%= t('.order_info.first_name', name: @customer.first_name) %></h1>
  <h2><%= t('.order_info.success') %></h2>
  <% unless @success %>
    <h2><%= t(".order_info.payment.#{@customer.payment_method}") %></h2>
    <%= raw(@html_form_pay) %>
  <% else %>
    <h2><%= t(".order_info.payment.success") %></h2>
  <% end %>
  <h2><%= t(".order_info.status.#{@customer.status}") %></h2>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= t('.table.name') %></th>
      <th scope="col"><%= t('.table.price') %></th>
      <th scope="col"><%= t('.table.quantity') %></th>
      <th scope="col"><%= t('.table.total') %></th>
    </tr>
  </thead>
  <tbody>
    <% @customer.orders.each do |order| %>
      <tr>
        <th><%= order.product.title %></th>
        <td><%= currency_with_symbol order.current_price %></td>
        <td><%= order.quantity %></td>
        <td><%= currency_with_symbol order.total_price %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td><%= @customer.orders_total_quantity %></td>
      <td><%= currency_with_symbol(@customer.orders_total_price) %></td>
      <td></td>
    </tr>
  </tfoot>
</table>
