<h1><%= t('.title') %></h1>
<% if user_signed_in? %>
  Hello, <%= current_user.email %>. <br>
  Role: <b><%= current_user.role %></b>
  <%= button_to t('.sign.out'), destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
<% else %>
  <%= link_to t('.sign.in'), new_user_session_path, class: "btn btn-primary" %>
<% end %>
<hr>
<h2><%= t('.status.title') %></h2>
<% if can? :status, Customer %>
  <% Customer.statuses_keys_with_translate_text.each do |name| %>
    <%= link_to name[0], panel_customers_status_path(status: name[1]), class: 'btn btn-primary' %>
  <% end %>
<% end %>
<hr>
<h2><%= t('.products.title') %></h2>
<% if can? :read, Product %>
  <%= link_to t('.link.all'), panel_products_path, class: 'btn btn-primary' %>
<% end %>
<% if can? :new, Product %>
  <%= link_to t('.link.new'), new_panel_product_path, class: 'btn btn-primary' %>
<% end %>
<hr>
<h2><%= t('.users.title') %></h2>
<% if can? :read, User %>
  <%= link_to t('.link.all'), panel_users_path, class: 'btn btn-primary' %>
<% end %>
<% if can? :new, User %>
  <%= link_to t('.link.new'), new_panel_user_path, class: 'btn btn-primary' %>
<% end %>
