<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t('admin.admin_users.table.email') %></th>
      <th scope="col"><%= t('admin.admin_users.table.role') %></th>
      <th scope="col"><%= t('admin.admin_users.table.control') %></th>
    </tr>
  </thead>
  <tbody>
    <% admin_users.each do |admin_user| %>
      <tr>
        <th scope="row"><%= admin_user.id %></th>
        <td><%= admin_user.email %></td>
        <td><%= admin_user.role %></td>
        <td>
           <%= render partial: 'admin/shared/control_panel', locals: {
            name_model: AdminUser, 
            show_model_path: admin_admin_user_path(admin_user), 
            edit_model_path: edit_admin_admin_user_path(admin_user), 
            delete_model_path: admin_admin_user_path(admin_user) } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
