<% set_meta_tags(
  title: t('.title', email: @admin_user.email)
  ) %>
<h1><%= t('.title', email: @admin_user.email) %> </h1>
<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= t('.card.email') %> <%= @admin_user.email %></li>
    <li class="list-group-item"><%= t('.card.role') %> <%= @admin_user.role %></li>
    <li class="list-group-item"><%= t('.card.products')%> <%= @admin_user.products.count %></li>
  </ul>
</div>
