<%= form_with(model: user, url: url) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label t('panel.users.form.email'), class: "form-label" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label t('panel.users.form.password'), style: "display: block", class: "form-label" %>
    <%= form.text_field :password, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label t('panel.users.form.password_confirmation'), style: "display: block", class: "form-label" %>
    <%= form.text_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label t('panel.users.form.role'), class: "form-label" %>
    <%= form.select :role, User.roles.keys, {}, class: "form-select" %>
  </div>
  <%= form.submit t('panel.users.form.submit'), class:'btn btn-primary' %>
<% end %>
