<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t('panel.users.table.email') %></th>
      <th scope="col"><%= t('panel.users.table.role') %></th>
      <th scope="col"><%= t('panel.users.table.control.name') %></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <th scope="row"><%= user.id %></th>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
          <div class="container text-center">
            <div class="row">
              <div class="col">
                <% if can? :read, User %>
                  <%= link_to t('panel.users.table.control.show'),  panel_user_path(user), class: 'btn btn-primary' %>
                <% end %>
              </div>
              <div class="col">
                <% if can? :edit, User %>
                  <%= link_to t('panel.users.table.control.edit'), edit_panel_user_path(user), class: 'btn btn-primary' %>
                <% end %>
              </div>
              <div class="col">
                <% if can? :destroy, User %>
                  <%= button_to t('panel.users.table.control.delete'), panel_user_path(user), method: :delete, class: 'btn btn-danger' %>
                <% end %>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
