<div class="container text-center" style="margin: 10px 0 10px 0">
  <div class="row">
    <div class="col">
      <% if can? :read, User %>
        <%= link_to t('.link.back'), panel_users_path, class:'btn btn-primary' %>
      <% end %>
    </div>
    <div class="col">
      <% if can? :edit, User %>
        <%= link_to t('.link.edit'), edit_panel_user_path(@user), class:'btn btn-primary' %>
      <% end %>
    </div>
    <div class="col">
      <% if can? :destroy, User %>
        <%= button_to t('.link.delete'), panel_user_path(@user), method: :delete, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div>
<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @user.email %></li>
    <li class="list-group-item"> <%= @user.role %></li>
  </ul>
</div>
