<%= form_with(model: product, url: url) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
    <div class="form-text">
      Must be 8-20 characters long.
    </div>
  </div>
  <div class="mb-3">
    <%= form.label :price, style: "display: block", class: "form-label" %>
    <%= form.text_field :price, class: "form-control" %>
    <div class="form-text">
      Must be 8-20 characters long.
    </div>
  </div>
  <div class="mb-3">
    <%= form.label :body, style: "display: block", class: "form-label" %>
    <%= form.text_area :body, class: "form-control" %>
    <div class="form-text">
      Must be 8-20 characters long.
    </div>
  </div>
  <div class="mb-3">
    <%= form.label :description, style: "display: block", class: "form-label" %>
    <%= form.text_field :description, class: "form-control" %>
    <div class="form-text">
      Must be 8-20 characters long.
    </div>
  </div>
  <div class="mb-3">
    <%= form.label :available, class: "form-check-label" %>
    <%= form.check_box :available, class: "form-check-input" %>
  </div>
  <div class="mb-3">
    <%= form.label :presentation, class: "form-label" %>
    <%= form.file_field :presentation, class: "form-control" %>
    <div class="form-text">
      Must be 8-20 characters long.
    </div>
  </div>
  <%= form.submit class:'btn btn-primary' %>
<% end %>
