<%= form_with(model: product, url: url) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label t('admin.products.form.title'), class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label t('admin.products.form.price'), style: "display: block", class: "form-label" %>
    <%= form.text_field :price, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label t('admin.products.form.description'), style: "display: block", class: "form-label" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label t('admin.products.form.body'), style: "display: block", class: "form-label" %>
    <%= form.text_area :body, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label t('admin.products.form.available'), class: "form-check-label" %>
    <%= form.check_box :available, class: "form-check-input" %>
  </div>
  <div class="mb-3">
    <%= form.label t('admin.products.form.presentation'), class: "form-label" %>
    <%= form.file_field :presentation, class: "form-control" %>
  </div>
  <%= form.submit t("admin.products.form.submit.#{params[:action]}"), class:'btn btn-primary' %>
<% end %>
