<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t('admin.products.table.title') %></th>
      <th scope="col"><%= t('admin.products.table.price') %></th>
      <th scope="col"><%= t('admin.products.table.available') %></th>
      <th scope="col"><%= t('admin.products.table.control') %></th>
    </tr>
  </thead>
  <tbody>
    <% products.each do |product| %>
      <tr>
        <th scope="row"><%= product.id %></th>
        <td><%= product.title %></td>
        <td><%= currency_with_symbol(product.price) %></td>
        <td><%= convert_boolean product.available %></td>
        <td>
          <%= render partial: 'admin/shared/control_panel', locals: {
            name_model: Product, 
            show_model_path:admin_product_path(product), 
            edit_model_path: edit_admin_product_path(product), 
            delete_model_path: admin_product_path(product) } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
