<% set_meta_tags(
  title: t('.title', title: @product.title)
  ) %>
<h1><%= t('.title', title: @product.title) %></h1>
<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <% if @product.presentation.attached? %>
        <%= image_tag @product.presentation, class: 'img-fluid rounded-start' %>
      <% else %>
        <svg class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="No Image" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#868e96"></rect>
          <text x="35%" y="50%" fill="#dee2e6" dy=".3em"><%= t('.card.no_image') %></text>
        </svg>
      <% end %>
    </li>
    <li class="list-group-item"><%= t('.card.title') %> <%= @product.title %></li>
    <li class="list-group-item"><%= t('.card.description') %> <%= @product.description %></li>
    <li class="list-group-item"><%= t('.card.body') %> <%= @product.body %></li>
    <li class="list-group-item"><%= t('.card.available') %> <%= convert_boolean @product.available %></li>
    <li class="list-group-item"><%= t('.card.price') %> <%= @product.price %></li>
    <li class="list-group-item"><%= t('.card.orders') %> <%= @product.orders.count %></li>
    <li class="list-group-item"><%= t('.card.author') %><%= link_to @product.admin_user.email, admin_admin_user_path(@product.admin_user) %></li>
  </ul>
</div>
