<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= t('market.carts.table.name') %></th>
      <th scope="col"><%= t('market.carts.table.price') %></th>
      <th scope="col"><%= t('market.carts.table.quantity') %></th>
      <th scope="col"><%= t('market.carts.table.total') %></th>
      <th scope="col"><%= t('market.carts.table.remove') %></th>
    </tr>
  </thead>
  <tbody>
    <% carts.each do |cart| %>
      <tr>
        <th scope="row">
          <%= link_to cart.product.title, product_path(cart.product) %>
        </th>
        <td>
          <%= currency_with_symbol(cart.product.price) %>
        </td>
        <td>
          <%= form_with url: product_cart_update_path(cart.product), method: :patch, html: { class: "container text-center" } do |f| %>
            <div class="row">
              <%= f.number_field 'quantity', value: cart.quantity, min: "1", max: true, class: 'form-control col' %>
              <%= f.submit t('market.carts.table.update'), class: "btn btn-primary col", style: "margin: 0 0 0 10px" %>
            </div>
          <% end %>
        </td>
        <td>
          <%= currency_with_symbol(cart.total_price) %>
        </td>
        <td>
          <%= button_to t('market.carts.table.remove'), product_cart_destroy_path(cart.product), method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td><%= carts.sum(&:quantity) %></td>
      <td><%= currency_with_symbol(carts.sum(&:total_price)) %></td>
      <td>
        <%= button_to t('market.carts.table.remove_all'), cart_destroy_all_path, method: :delete, class: "btn btn-danger" %>
      </td>
    </tr>
  </tfoot>
</table>
